/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Generic*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/*Top Header*/
.top-header {
  background: black;
  color: white;
  overflow: hidden;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-items {
  display: flex;
  gap: 200px;
}

.items {
  display: flex;
  align-items: center;
  gap: 8px;
}

.right-items {
  position: relative;
  background: #EA062B;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 12px 25px;
}

.right-items::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100%;
  background: #EA062B;
}

.follow-items{
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

/*Nav bar*/
.navbar{
  background-color: white;
  color: black;
  overflow: hidden;
}

.nav-items{
  display: flex;
  justify-content: space-between;
}

.nav-logo{
  position: relative;
  background: #EA062B;
  color: white;
  padding: 30px 60px ;
  padding-left: 0;
  font-weight: 900;
  font-size: 1.8rem;
}

.nav-logo::before{
  content: '';
  width: 100vw;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  background-color: #EA062B;
}

.nav-tabs, .nav-items a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
}

.nav-items a{
  padding: 30px;
}

.nav-items a:hover{
  color: #EA062B;
}

/*Hero Section*/
.hero-section{
  position: relative;
  min-height: 600px;
  padding-bottom: 150px;
}

.hero-content{
  z-index: 2;
  position: relative;
  padding-top:30px ;
  width: 50%;
}

.intro{
  display: flex;
  margin: 30px 0px;
  align-items: center;
}

.intro p{
  padding: 15px 10px;
  font-weight: 700;
  font-size: 1.3rem;
}

.intro i{
  font-size: 3.5rem;
}

.hero-content h2{
  color: #EA062B;
  font-size: 2rem;
  font-weight: 600;
}

.hero-content h1{
  font-size: 5rem;
  font-weight: 900;
  margin: 30px 0px;
}

.btn {
  color: white;
  background-color: #EA062B;
  padding: 20px 40px;
  font-size: 1.1rem;
  font-weight: 800;
  border: none;
}

.hero-image::after{
  content: '';
  opacity: 0.5; 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/hero-five.jpg) center/cover;
  z-index: 0;
}

/*Register Card*/
.register-section{
  position: absolute;
  bottom: -80px;
  z-index: 2;
}

.register-items{
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-card{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.register-card:last-child{
  background-color: #EA062B;
}

.register-content{
  padding-right: 90px;
}

.register-content h3{
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 30px ;
}

.register-card i{
  font-size: 2rem;
}